/* Regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container{
    background-color:lightseagreen;
}

#title{
    color: white;
    font-size: 70px;
    font-weight: 600;
}